<ion-app>
	<ion-split-pane contentId="main-content">
		<ion-menu contentId="main-content" type="overlay">
			<ion-content>
				<ion-list id="inbox-list">
					<div>
						<ion-list-header>Username</ion-list-header>
						<ion-note>user&#64;email</ion-note>
					</div>

					<ion-menu-toggle auto-hide="false" *ngFor="let button of sideMenuButtons; let i = index">
						<ion-item lines="none" detail="false" [button]="true">
							<ion-icon aria-hidden="true" slot="start" [ios]="button.icon + '-outline'"
								[md]="button.icon + '-sharp'"></ion-icon>
							<ion-label>{{ button.title }}</ion-label>
						</ion-item>
					</ion-menu-toggle>
				</ion-list>
			</ion-content>
		</ion-menu>

		<ion-router-outlet id="main-content"></ion-router-outlet>
	</ion-split-pane>
</ion-app>
